annotated-types==0.7.0
anyio==4.12.1
attrs==25.4.0
Authlib==1.6.6
avro==1.12.1
cachetools==6.2.4
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
confluent-kafka==2.11.1
cryptography==46.0.3
dotenv==0.9.9
Events==0.5
fastavro==1.12.1
flit_core==3.12.0
googleapis-common-protos==1.72.0
grpcio==1.76.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.11
jsonlines==4.0.0
jsonpath-ng==1.7.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
kafka-python==2.3.0
markdown-it-py==4.0.0
mdurl==0.1.2
opensearch-protobufs==0.19.0
opensearch-py==3.1.0
orjson==3.11.5
pip==25.3
ply==3.11
prometheus_client==0.24.1
protobuf==6.33.4
pycparser==2.23
pydantic==2.11.10
pydantic_core==2.33.2
pydantic-settings==2.10.1
Pygments==2.19.2
pyrsistent==0.20.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-json-logger==2.0.7
quixstreams==3.23.1
referencing==0.37.0
requests==2.32.5
rich==14.2.0
rocksdict==0.3.29
rpds-py==0.30.0
setuptools==80.9.0
six==1.17.0
sseclient-py==1.9.0
typing_extensions==4.15.0
typing-inspection==0.4.2
urllib3==2.6.3
wheel==0.45.1
